* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
}

header {
  background-color: rgba(0,0,0,0.8);
  color: white;
  height: 48px;
  max-height: 44px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a span {
  font-weight: 100;
}

section {
  padding: 2rem;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: .5em;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.calendar {
  margin-top: -5px;
  margin-left: -10px;
  margin-right: -10px;
}
.calendar__row {
  display: flex;
}
.calendar__cell {
  flex: 1;
  text-align: right;
  padding: 0 5px;
  font-family: monospace;
  font-size: 1.5rem;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
}
.calendar__cell_today {
  border-color: red;
}

.weather {
  font-weight: 100;
}
